@import url('https://fonts.googleapis.com'); /* <-- Borrowed this one */

body {
    font-family: 'Roboto', sans-serif; /* <-- That applies here */
    padding: 0;
    margin: 0;
}

.main_body {
    display: flex;
    flex-direction: column;
}

.main_body > * {
    padding: 0 10%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.content_1 {
    display: flex;
    align-items: center;
    padding: 3% 10%;
    gap: 3%;
    background-color: #1F2937;
    color: #E5E7EB;
}

.sidecontent {
    flex: 1;
}

.sidecontent h1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.sidecontent button {
    background-color: #3886F6;
    color: #E5E7EB;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
}

img {
    flex: 1;
    background-color: rgb(150,150,150);
    padding-top: 95.5px;
    padding-bottom: 95.5px;
    text-align: center;
}

.content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_2 h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.content-box {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 150px;
    width: 150px;
    border: 4px solid #3886F6;
    border-radius: 12px;
}

.content-box p {
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
}

.quote > :first-child {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 0;
}

.quote p {
    text-align: right;
    font-weight: bold;
    margin: 0 0 5% 0;
}

/*
    Content 3 was created for the only purpose of giving a square space to ad_display
    Porcentage based padding and margin are great?
*/

.content_3 {
    margin: 5% 0;
    padding: 0 2%;
}

.ad_display {
    padding: 3% 8%;
    display: flex;
    justify-content: space-between;
    background-color: #3886F6;
    border-radius: 10px;
}

.ad_text {
    color: #E5E7EB;
}

.call_action {
    font-size: 24px;
    font-weight: 900;
}

.ad_text p {
    margin: 0;
}

.ad_button {
    background-color: #3886F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    font-weight: bold;
    padding: 4px 30px;
    border-radius: 4px;
}

.footer {
    display: flex;
    flex: 1 1 75px;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
}